.navbar{
  margin-bottom:0;
}

h2{
  margin:30px;
}

a{
  color:white;
}

a:hover{
  color:white;
  text-decoration: none;
}


.color-white{
  color:white;
}

.container-fluid {
  padding:100px;
}


.background-gray{
  background-color: #EEEEEE;
}

.background-blue{
  background-color: #3399ff;
}

.background-darkblue{
  background-color: #474e5d;
}
